@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-primary: #269144; 
    --ui-secondary: #F1F8F1; 
    --ui-info: #2691440D; 
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Adjust based on navbar height */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}